{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Мой профиль - Косметологический центр{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-7">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h2 class="card-title text-center mb-4">Профиль пользователя: {{ user.username }}</h2>
                <p class="text-center text-muted mb-4">Здесь вы можете обновить свою личную информацию.</p>

                <form method="post">
                    {% csrf_token %}

                    {# Форма для User #}
                    <fieldset class="form-group border p-3 mb-4 rounded">
                        <legend class="w-auto px-2 fs-5">Основная информация пользователя</legend>
                        {{ user_form|crispy }}
                    </fieldset>

                    {# Форма для Client #}
                    <fieldset class="form-group border p-3 mb-4 rounded">
                        <legend class="w-auto px-2 fs-5">Контактная информация и дата рождения</legend>
                        {{ form|crispy }} {# 'form' здесь - это ClientUpdateForm #}
                    </fieldset>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary mt-3">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
